.app{
    .scroll-top{
        position: fixed;
        bottom:20px;
        right:20px;
        z-index: 1000;
    
        img{
            width:60px;
            animation: float 3s linear infinite;
        }
    }
}

@keyframes float{
    100%, 0%{
        transform: translateY(0rem);
    }

    50%{
        transform: translateY(-12px);
    }

}